.notification {
    position: fixed;
    top: 50px;
    right: 10px;
    height: 20px;
    width: 160px;
    background-color: rgb(24, 163, 24);
    color: #fff;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.6;
}